<div th:insert="parts/header.html :: header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<div class="container mt-4" xmlns:th="http://www.w3.org/1999/xhtml">

    <h4> Редактирование пароля</h4>
    <br>

    <form th:action="@{|/user/${user.id}/edit/password|}" method="post">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Пароль</label>
                <input type="text" class="form-control" name="password" placeholder="Пароль" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Новый пароль</label>
                <input type="text" class="form-control" name="new1" placeholder="Новый пароль"
                       oninvalid="this.setCustomValidity('Только латинские символы (минимум 1) и минимум 1 цифра')" oninput="setCustomValidity('')"
                       pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{3,}$" required>
            </div>
            <div class="form-group col-md-3">
                <label>Повторите пароль</label>
                <input type="text" class="form-control" name="new2" placeholder="Повторите пароль"
                       oninvalid="this.setCustomValidity('Только латинские символы (минимум 1) и минимум 1 цифра')" oninput="setCustomValidity('')"
                       pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{3,}$" required>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary">Сменить пароль</button>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <span th:if="${message}" th:text="${message}" class="alert alert-danger"/>
                <span th:if="${success}" th:text="${success}" class="alert alert-success"/>
            </div>
        </div>
    </form>



</div>
<div th:insert="parts/footer.html :: footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>